# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# private tokens and session
/python-telegram-bot/tokens_tele_bot.py
/telethon/tokens_telethon.py
anon.session